.icon-zec:before {
  content: "\e909";
}
.icon-xzc:before {
  content: "\e90a";
}
.icon-yec:before {
  content: "\e90b";
}
.icon-xrp:before {
  content: "\e90c";
}
.icon-waves:before {
  content: "\e90d";
}
.icon-xvg:before {
  content: "\e90e";
}
.icon-xvg:before {
  content: "\e90f";
}
.icon-vet:before {
  content: "\e910";
}
.icon-vtc:before {
  content: "\e911";
}
.icon-ubq:before {
  content: "\e912";
}
.icon-xtz:before {
  content: "\e913";
}
.icon-trx:before {
  content: "\e914";
}
.icon-ropsten:before {
  content: "\e915";
}
.icon-rdd:before {
  content: "\e916";
}
.icon-rvn:before {
  content: "\e917";
}
.icon-qtum:before {
  content: "\e918";
}
.icon-ont:before {
  content: "\e919";
}
.icon-neo:before {
  content: "\e91a";
}
.icon-xem:before {
  content: "\e91b";
}
.icon-xmr:before {
  content: "\e91c";
}
.icon-xlm:before {
  content: "\e91d";
}
.icon-ltc:before {
  content: "\e91e";
}
.icon-lsk:before {
  content: "\e91f";
}
.icon-kmd:before {
  content: "\e920";
}
.icon-kin:before {
  content: "\e921";
}
.icon-joys:before {
  content: "\e922";
}
.icon-zen:before {
  content: "\e923";
}
.icon-nlg:before {
  content: "\e924";
}
.icon-grs:before {
  content: "\e925";
}
.icon-exp:before {
  content: "\e926";
}
.icon-etc:before {
  content: "\e927";
}
.icon-eth:before {
  content: "\e928";
}
.icon-ela:before {
  content: "\e929";
}
.icon-eos:before {
  content: "\e92a";
}
.icon-doge:before {
  content: "\e92b";
}
.icon-dgb:before {
  content: "\e92c";
}
.icon-dcr:before {
  content: "\e92d";
}
.icon-dash:before {
  content: "\e92e";
}
.icon-atom:before {
  content: "\e92f";
}
.icon-ada:before {
  content: "\e900";
}
.icon-clo:before {
  content: "\e901";
}
.icon-bth:before {
  content: "\e902";
}
.icon-bsv:before {
  content: "\e903";
}
.icon-btg:before {
  content: "\e904";
}
.icon-bch:before {
  content: "\e905";
}
.icon-btc:before {
  content: "\e906";
}
.icon-bnb:before {
  content: "\e907";
}
.icon-aya:before {
  content: "\e908";
}
